---
---
{% include header-beg.html %}
<title>Mapping Code - Architexa</title>
<link href="https://plus.google.com/102171511066303635171/" rel="publisher" />
{% include header-end.html %}


<!-- Google Website Optimizer Tracking Script -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['gwo._setAccount', 'UA-18945881-1']);
  _gaq.push(['gwo._trackPageview', '/0545621509/test']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- End of Google Website Optimizer Tracking Script -->



<style type="text/css">

.news li {margin:3px 0px 5px -20px;}
.news {
	list-style-position:outside;
	list-style-image: url("{{site.baseurl}}/images/news_icon14.png");
	font-size:14px;
}


#smallLink { color:#444;}
#smallLink a:link {color: #444; text-decoration: none; 	}
#smallLink a:active {color: #444; text-decoration: none;}
#smallLink a:visited {color: #444; text-decoration: none;}
#smallLink a:hover {color: #C60; text-decoration: none;}

#blueLink a:link {color: #00476B; text-decoration: underline; }
#blueLink a:active {color: #00476B; text-decoration: underline; }
#blueLink a:visited {color: #00476B; text-decoration: underline; }
#blueLink a:hover {color: #00476B; text-decoration: underline; }	

#slideshow {
  width: 412px;
  height: 262px;
}

</style>

<script type="text/javascript">
<!--
function img(imgID, imgName) {
	document.images[imgID].src = '/architexa{{site.baseurl}}/images/' + imgName + '.png';
}
// -->
</script>
<script type="text/javascript" src="/architexa/js/jquery.cross-slide.min.js"></script>

<table boder="0"><tr>
<td width="60%" valign="center">
	<div style="padding-left:30px;">
		<h1 style="font-size: 225%;padding-top:0px;margin-top:0px;margin-bottom:-8px;">Get Diagrams From Code</h1>
		<p style="font-size:1.7em;" >
		Develop Effectively<!--Get Diagrams that Make Sense-->
		</p>
			<br>
		<a class="mainButton" style="font-size:26px;width:90%;text-align:center;padding:14px 0px 12px;color:white"
			href="/learn-more/pricing">
		Get Architexa, It's Free &raquo;
		</a>
		<br />
		<p style="font-size:1em;margin-top:20px">
			<b>Architexa</b> helps you understand and document large/complex codebases.
		</p>
	</div>
</td>
<!-- <td width="5%">&nbsp;</td> -->
<td height="300">

	<a href="/support/videos/intro/video" onMouseOver="img('play','playIconOn')" onMouseOut="img('play','playIconOff')">

<script>
  $(function() {
    $('#slideshow').crossSlide({
      sleep: 2,
      fade: 1
    }, [
      { src: '{{site.baseurl}}/images/lay_hp3.png' },
      { src: '{{site.baseurl}}/images/seq_hp.png' },
      { src: '{{site.baseurl}}/images/class_hp.png' }
    ])
  });

</script>

<div id="slideshow"></div>


	<div style="position:relative">
		<img name="play" src="{{site.baseurl}}/images/playIconOff.png" border="0" style="position:absolute;top:-140px;left:180px"/>
	</div>
	<div style="text-align:center">
		<a href="/learn-more/videos/intro/video"><img style="padding-top:10px;" src="{{site.baseurl}}/images/thumbnails/watchIntro.png" width="200" border="0"/></a>
	</div>

</a>

</td>
</tr></table>

<hr style = "height: 1px; margin-left:10px; margin-right:10px;">
<!--<h1>Painlessly Work with Complex Code</h1>-->

<style>

.frontBox {
	width:400px;
	margin:4px; 
	float:left;
	padding-right:4px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size:.9em;
}

.frontImg {
	float:left;
	padding:5px 10px;
	width:100px;
	border:none;
}

.frontHead {
	font-wieght:bold;
	font-size:1.2em;
	margin:5px 0px 0px;

}

.frontMore {
	//float:right;
}

.sectionHead {
	font-size: 145%;
	color: #444;
}
.date {
	font-style:italic;
	color:gray;
}

</style>

<style type="text/css">
#container {
	border-right: 50% solid #ffffff;
	position: relative;
	background: #ffffff;
}
#container:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#left {
	width: 50%;
	float: left;
	overflow: hidden;
	margin-right: -50%;
	display: inline;
}
#right {
	float: right;
	width: 50%;
	position: relative;
	display: inline;
}
</style>

<div id="container">
	<div id="left" style="padding-bottom: 20px;">
		<!--<h1>Painlessly Work with Complex Code</h1>-->
		<h1 class="sectionHead" style="padding-left:20px;">Understand and Document Code</h1>
		<div class="frontBox"> 
            <div style="float:left;height:132px;"><a title="Layered architectural diagrams" href="/learn-more/layered-diagrams" ><img class="frontImg" src="{{site.baseurl}}/images/hp/folder.png" alt=""></a></div>
            <h3 class="frontHead"><a title="Layered architectural diagrams" href="/learn-more/layered-diagrams">Layered architectural diagrams</a></h3> 
            <p>Introduce new developers to architectural concepts quickly. Maintain and communicate architectural components. <br><br>
			<div id="blueLink"><a class="frontMore" href="/learn-more/layered-diagrams" >Learn more <small>&gt;&gt;</small></a></div></p>         
        </div> 
		<div class="frontBox"> 
            <div style="float:left;height:132px;"><a title="Class and sequence diagrams" href="/learn-more/understand" ><img class="frontImg" src="{{site.baseurl}}/images/hp/class2.png" alt=""></a></div>
            <h3 class="frontHead"><a title="Class and sequence diagrams" href="/learn-more/understand">Class and sequence diagrams</a></h3> 
            <p>Get an overview of new, complex, or large code bases. Understand and solve problems in legacy code. <br><br>
			<div id="blueLink"><a class="frontMore" href="/learn-more/understand" >Learn more <small>&gt;&gt;</small></a></div></p>         
        </div>
		<div class="frontBox"> 
            <div style="float:left;height:132px;"><a title="Document code architecture" href="/learn-more/document" ><img class="frontImg" src="{{site.baseurl}}/images/hp/notepad.png" alt=""></a></div>
            <h3 class="frontHead"><a title="Document code architecture" href="/learn-more/document">Document code architecture</a></h3> 
            <p>Easily create documentation to share between team members. Set architectural boundaries for the shifting needs of agile teams. <br><br><div id="blueLink"><a class="frontMore" href="/learn-more/document" >Learn more <small>&gt;&gt;</small></a></div></p>         
        </div> 
		<div class="frontBox"> 
            <div style="float:left;height:132px;"><a title="Share and collaborate visually" href="/learn-more/share" ><img class="frontImg" src="{{site.baseurl}}/images/hp/globe.jpg" alt=""></a></div>
            <h3 class="frontHead"><a title="Share and collaborate visually" href="/learn-more/share">Share and collaborate visually</a></h3> 
            <p>Transfer knowledge from departing team members to new hires. Share views of complex concepts and architectural components. <br><br><div id="blueLink"><a class="frontMore" href="/learn-more/share" >Learn more <small>&gt;&gt;</small></a></div></p>         
		</div>
		<!--
		<div class="frontBox"> 
			<div style="float:left;height:132px;"><a title="Code and architectural review" href="/learn-more/code-review" ><img class="frontImg" src="{{site.baseurl}}/images/hp/magnify.png" alt=""></a></div>
			<h3 class="frontHead"><a title="Code and architectural review" href="/learn-more/code-review">Code and architectural review</a></h3> 
			<p>Maintain code quality by simplifying code review. Diagram new features as they are committed to prevent code erosion. <br><br><div id="blueLink"><a class="frontMore" href="/learn-more/code-review" >Learn more <small>&gt;&gt;</small></a></div></p>         
		</div>
		-->
	</div>
	<div id="right" style="text-align:center;">
		
		<table  align="center">
					
			<tr align="center"><td align="center">
				<style type="text/css">
.date {
	font-style:italic;
	color:gray;
}
.quote {
	font-style: italic;
	margin: 39px 0px 12px 67px;
	padding-left: 20px;
	width: 70%;
}

.testContent {
	background: #FFF;
	border: 1px solid #E4E4E4;
	color: #616161;
	display: table-cell;
	padding: 12px;
	text-align: center;
	z-index: 9;
}
.testQuote{
	font-family: Georgia, Times, serif;
	font-size: 15px;
	padding: 0px;
}
.author{
	color: #9B9B9B;
	font-family: Georgia, Times, serif;
	font-size: 12px;
	font-style: italic;
	padding: 0px;
}
</style>


<div style="text-align:center;">


		<div style="margin-left: auto; margin-right: auto; height:150px; width:400px; padding-top:18px;" align="center" id="quotes">
			<div id="testimonial-0" class="testContent"> 
				<span style="font-weight:bold; color:#444;font-size:1.2em;" class="testQuote">Featured Customers:</span><br> 		
				<a href="http://www.citi.com/"><img style="height:40px" border=0 alt="citi" src="{{site.baseurl}}/images/quotes/citi.gif" /></a>
				<a href="https://www.fidelity.com/"><img style="width: 160px;" border=0 alt="fidelity" src="{{site.baseurl}}/images/quotes/fidelity-investments-or.png" /></a>
				<a href="http://www.nakinasystems.com/"><img style="width: 76px;" border=0 alt="nakina" src="{{site.baseurl}}/images/quotes/nakina.jpg" /></a>
				<a href="http://www.omgeo.com/"><img style="height: 58px;" border=0 alt="omego" src="{{site.baseurl}}/images/quotes/omego.jpg" /></a>		
				<a valign="middle" href="http://www.logiball.de/"><img valign="middle" border=0 alt="logiball" src="{{site.baseurl}}/images/quotes/logiball.gif" /></a>					
	
			</div>
			
			<div id="testimonial-1" class="testContent"> 
				<span style="font-weight:bold; color:#444;font-size:1.2em;" class="testQuote">Affiliations:</span><br> 		
				<a href="/about/affiliation"><img border="0" src="{{site.baseurl}}/images/eclipse_logo.png" style="height:45px"></a>
				<a href="/about/affiliation"><img border="0" src="{{site.baseurl}}/images/agile_logo.png" style="height:47px"></a>
				<a href="/about/affiliation"><img border="0" src="{{site.baseurl}}/images/IASA_logo.png"  style="height:47px"></a>
			</div>

						<div id="testimonial-2" class="testContent"> 
								<a href="http://java.dzone.com/articles/how-architexa-makes-life-easy"><img  height="30" alt="Java Lobby" src="{{site.baseurl}}/images/quotes/mh_logo_java.gif" /></a><br>
								<span class="testQuote">"Sometimes it can be too much work to go back and update diagrams once the coding process is underway, especially when under a tight deadline"</span><br> 
				<span class="author">- James Sugrue, <a href="http://java.dzone.com/articles/how-architexa-makes-life-easy">Java Lobby</a></span>
			</div>
						<div id="testimonial-3" class="testContent"> 
								<a href="http://javahispano.org/contenidos/es/architexa__un_plugin_de_uml_para_eclipse/"><img  height="30" alt="JavaHispano" src="{{site.baseurl}}/images/quotes/JavaHispanoLogo.png" /></a><br>
								<span class="testQuote">"'surf' the source code through UML diagrams, so that one may be viewing more or less detail as you need. It is not all or nothing, which is usually the case with traditional UML tools."</span><br> 
				<span class="author">- Abraham, <a href="http://javahispano.org/contenidos/es/architexa__un_plugin_de_uml_para_eclipse/">JavaHispano</a></span>
			</div>
						<div id="testimonial-4" class="testContent"> 
								<a href="http://twitter.com/The0retico/status/13808214322"><img  height="30" alt="Twitter" src="{{site.baseurl}}/images/quotes/twitlogo.png" /></a><br>
								<span class="testQuote">"New generation UML tools finally coming?"</span><br> 
				<span class="author">- Gabriel Scerbak, <a href="http://twitter.com/The0retico/status/13808214322">Twitter</a></span>
			</div>
						<div id="testimonial-5" class="testContent"> 
								<a href="http://www.boston.com/business/technology/innoeco/2010/06/architexa_aims_to_make_it_easi.html"><img  height="30" alt="Boston Globe" src="{{site.baseurl}}/images/quotes/bcom_small.gif" /></a><br>
								<span class="testQuote">"Focused on developing a wider range of features that will help programmers explore and understand knotty code bases."</span><br> 
				<span class="author">- Scott Kirsner, <a href="http://www.boston.com/business/technology/innoeco/2010/06/architexa_aims_to_make_it_easi.html">Boston Globe</a></span>
			</div>
						
			


		</div>
		<span id="nav">
		 <img id="0" onClick="slideTo('testimonial-0')" src="{{site.baseurl}}/images/bullet_active.gif"/>
				 <img id="1" onClick="slideTo('testimonial-1')" src="{{site.baseurl}}/images/bullet.gif"/>
				 <img id="2" onClick="slideTo('testimonial-2')" src="{{site.baseurl}}/images/bullet.gif"/>
				 <img id="3" onClick="slideTo('testimonial-3')" src="{{site.baseurl}}/images/bullet.gif"/>
				 <img id="4" onClick="slideTo('testimonial-4')" src="{{site.baseurl}}/images/bullet.gif"/>
		
		</span>
<script> 
function init() {
 $('#quotes div').hide();
 $('#quotes div:first').show();
}

function slide() {
    var $top = $('#quotes div:visible');
    var num = $top.attr('id').split('-').pop();
    var $topNav = $('#'+num);

    var $next;
    var $nextNav;
 if($top.next().length > 0) {
 	 $next = $top.next();
	 $nextNav = $topNav.next();
 } else {
       $next = $('#quotes div:first');
       $nextNav = $('#nav img:first');
 }
  $top.fadeOut("slow",function() {
   $next.fadeIn("slow");

  });
 
 $topNav.attr("src","{{site.baseurl}}/images/bullet.gif");
 $nextNav.attr("src","{{site.baseurl}}/images/bullet_active.gif");
}

function slideTo(id) {
    var $top = $('#quotes div:visible');
    var num = $top.attr('id').split('-').pop();
    var $topNav = $('#'+num);

    var $next =$('#'+id);
    num = $next.attr('id').split('-').pop();
    var $nextNav = $('#'+num);
  $top.fadeOut("slow", function() {
	 $next.fadeIn("slow");
  });
  $topNav.attr("src","{{site.baseurl}}/images/bullet.gif");
  $nextNav.attr("src","{{site.baseurl}}/images/bullet_active.gif"); 

}

$(document).ready(function() {
 init();
    //setInterval( "slide()", 15000 );
});
</script>
</div>			</td></tr>
		</table>
		
		<div style="border-top: 1px solid #ccc;margin-right:10px;"></div>

		<div style="text-align:left; font-size:.9em; padding:10px;">
			<div style="padding-bottom:10px;">
				<p>Architexa can turn a large Java codebase into a comprehensible and navigable diagram of functionality and dependency.</p>
				<span class="date"> - Alex Handy, <a href="http://www.sdtimes.com/link/35416">SDTimes</a></span>
			</div>
			<div style="padding-bottom:10px;">
				<p>Sometimes it can be too much work to go back and update diagrams once the coding process is underway, especially when under a tight deadline</p>
				<span class="date"> - James Sugrue, <a href="http://java.dzone.com/articles/how-architexa-makes-life-easy">Java Lobby</a></span>
			</div>
			<div style="padding-bottom:10px;">
				<p>'Surf' the source code through UML diagrams, so that one may be viewing more or less detail as you need. It is not all or nothing, which is usually the case with traditional UML tools.</p>
				<span class="date"> - Abraham, <a href="http://javahispano.org/contenidos/es/architexa__un_plugin_de_uml_para_eclipse/">JavaHispano</a></span>
			</div>
		</div>

		<div style="border-top: 1px solid #ccc;margin-right:10px;"></div>

		<table>	
		<tr>
		<td valign="top" style="width:280px;"> 
			<div  style="text-align:left; vertical-align:top;">
				<p style="font-size:18px"><b>News</b></p>
				<ul id="smallLink" class="news">
					
<li><a href="http://www.architexa.com/blog/meet-us-at-eclipsecon/">We will be at EclipseCon</a><span class='date'> February 25</span></li>
<li><a href="http://www.architexa.com/blog/architexa-gives-away-free-ipad-to-blogging-contest-winner/">Architexa Gives Away Free iPad to Blogging Contest Winner</a><span class='date'> October 17</span></li>
<li><a href="http://www.architexa.com/blog/release-based-on-contest-feedback/">Release Based on Contest Feedback</a><span class='date'> October 15</span></li>
				</ul>
				<span id="blueLink" style="margin-left:20px;font-size:14px; font-weight:normal;"><a target="_blank" href="http://www.architexa.com/blog">(more)</a></span>
			</div>
		</td>
		<td valign="top" style="width:280px;">
			<div style="text-align:left; vertical-align:top;padding-right:10px;">
				<p style="font-size:18px"><b>Blog Posts</b></p>
				<ul id="smallLink" class="news">

<li><a href="http://feedproxy.google.com/~r/Architexa/~3/OODyMMLv3Fc/">Code on Different Types of Codebases</a><span class='date'> January 28</span></li>
<li><a href="http://feedproxy.google.com/~r/Architexa/~3/DaGmfLNCr_Y/">Breaking Out of Your Shell as a Coder</a><span class='date'> January 15</span></li>
<li><a href="http://feedproxy.google.com/~r/Architexa/~3/wNtvlfCtmgc/">The Decline Of Spring?</a><span class='date'> October 03</span></li>
<!--
<li><a href="http://feedproxy.google.com/~r/Architexa/~3/khjK8mwgXAc/">Diagramming Tools - A (Biased) Survey</a><span class='date'> September 21</span></li>
<li><a href="http://feedproxy.google.com/~r/Architexa/~3/7hM0xwagXSQ/">Pains of Open Source</a><span class='date'> September 12</span></li>
-->
				</ul>
				<span id="blueLink" style="margin-left:20px;font-size:14px; font-weight:normal;"><a target="_blank" href="http://blog.architexa.com/">(more)</a></span>

			</div> 
	</td>
	</tr>
	<!--<tr>
		<td>
			<p style="margin:-10px 0 0px 0px; font-size:18px"><b>Sign up for updates</b></p>
		</td>
		<td>
					</td>
	</tr>-->
	</table>
	</div> <!--right-->
</div> <!--container-->
</body>
</html>


<div style="clear:both;"/>
	<!--Make Sense of Your Code
	<div style="background:#cccccc; color:#333333; margin-top:5px; padding-top:5px; padding-bottom:5px; padding-left:5px; border:1px solid #999999;">
	
	Make sense of your code now!
	<a href="/start/index">
	<b>Get Started </b></a>
		-->
</div>

</div>

<!-- FOOTER -->

<style type="text/css"> 
	#footer a:link {color: #999; text-decoration: none; }
	#footer a:active {color: #999; text-decoration: none; }
	#footer a:visited {color: #999; text-decoration: none; }
	#footer a:hover {color: #c60; text-decoration: strong; }	
</style>


<!-- blue version: background-color: #00476B; -->
<div id="footer" style=" margin-top:5px; padding-top:5px; padding-bottom:5px; padding-left:5px;">
<table style="font-size: 14px; color:#fff; width:100%">
	<tbody><tr> 
		<td style="width:25%; padding-left:20px; padding-bottom:15px; vertical-align: top;">
			<div><span style="color:#666; font-weight:bold;">Company</span>
			<br> <a href="http://www.architexa.com/about/index">About Us</a>
			<br> <a href="http://blog.architexa.com/">Blog</a>
			<br> <a href="http://www.architexa.com/blog">News</a>
			<br> <a href="http://www.architexa.com/about/contact">Contact Us</a>
			<br></div>
		</td>
		<td style="width:25%; padding-left:20px; vertical-align: top;">
			<div><span style="color:#666; font-weight:bold;">Product</span>
			<br> <a href="http://www.architexa.com/learn-more/diagramming-features">Features</a>
			<br> <a href="http://www.architexa.com/start/index">Downloads</a>
			<br> <a href="http://www.architexa.com/start/pricing">Plans & Prices</a>
			<br> <a href="http://www.architexa.com/start/open-source">Open Source Initiative</a>
			<br></div>
		</td>
		<td style="width:25%; padding-left:20px; vertical-align: top;">
			<div><span style="color:#666; font-weight:bold;">Learn More</span>
			<br> <a href="http://www.architexa.com/start/tour">Take a Tour</a>
			<br> <a href="http://www.architexa.com/learn-more/videos/intro/video">Videos</a>
			<br> <a href="http://www.architexa.com/user-guide/Table_of_Contents">User Guide</a>
			<br></div>
		</td>
		<td style="width:25%; padding-left:20px; vertical-align: top;">
			<div><span style="color:#666; font-weight:bold;">Resources</span>
			<br> <a href="http://www.architexa.com/support/faq">FAQ</a>
			<br> <a href="http://www.architexa.com/forums/">Forum</a>
			<br> <a href="http://www.architexa.com/solutions/services/">Services</a>
			<br></div>
		</td>
	</tr>
</tbody></table>
</div><!--end footer-->



<div style="padding:10px 0px; height:50px;">
<div style="float:left; font-size:smaller;">
Architexa is an i3labs project. Copyright &copy;2014 i3labs. All rights reserved.
<a href="/privacy">Privacy Policy</a> | 
<a href="/terms-of-service"> Terms of Use</a> 
</div>
<div valign="middle" style="float:right; vertical-align:middle;font-size:smaller;">
<table valign="middle">
<tr valign="middle">
 <td>Follow Architexa</td>
 <td><a class="image" href="http://feeds.feedburner.com/Architexa"><img width="20" src="http://blog.architexa.com/wp-content/themes/simplex/images/rss2.png"/></a></td>
 <td><a class="image" href="http://www.facebook.com/Architexa"><img width="20" src="http://blog.architexa.com/wp-content/themes/simplex/images/facebook2.png"/></a></td>
 <td><a class="image" href="http://twitter.com/Architexa"><img width="20" src="http://blog.architexa.com/wp-content/themes/simplex/images/twitter2.png"/></a></td>

</tr>
</table>
</div> 
</div>


<script src="http://static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(213593); }catch(err){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/213593ns.gif" /></p></noscript>
</body>
</html>

