---
title: Easily Document Code Architecture | Architexa
---
{% include side-menu-learn-more-beg.html %}


<script src="{{site.baseurl}}/js/jquery-1.3.2.js" type="text/javascript" charset="utf-8"></script>

<link rel="stylesheet" href="{{site.baseurl}}/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="{{site.baseurl}}/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>


<div style="float:right; padding-right:20px;">
	{% include started-and-overview-buttons.html %}
</div>

<h1>Quickly Document</h1>

<p>Documenting code forces developers to take precious time away from coding. However, it is a necessary evil since without it other developers would have much more difficulty understanding the code. </p>
  
<br> 
<table style = "text-align:center" > 
	<tr> 
		<td style="width: 300px;"> 
		<b>Spending too much time documenting?</b> 
		</td> 
			
		<td style="width: 300px;"> 
		<b>Code reviews taking up valuable dev time?</b> 
		</td> 		
	</tr> 
 
	<tr> 
		<td style="width: 300px;"> 
<a href="{{site.baseurl}}/images/thumbnails/Shared1.jpg" style="margin-left:5px;" rel="prettyPhoto" title="Diagrams can be easily created from any source file"><img src="{{site.baseurl}}/images/thumbnails/Shared1.jpg" width="192" height="128"  border="1" /></a> 
		</td> 
			
		<td style="width: 300px;"> 
		<a href="{{site.baseurl}}/images/thumbnails/CodeReview.png" style="margin-left:5px;" rel="prettyPhoto" title="Create diagrams showing the context of any uncommitted changes"><img src="{{site.baseurl}}/images/thumbnails/CodeReview.png" width="192" height="128"  border="1" /></a> 
		</td> 
	</tr> 
 
	<tr  VALIGN=TOP style = "font-size: 80%">
		<td style="width: 300px;">
	  	Diagrams can be easily created from any source file. Architexa allows diagrams to be created quickly and easily, freeing up the developers time for more important tasks. <a href="{{site.baseurl}}/learn-more/document"><b>Learn more</b></a>
		</td>
			
		<td style="width: 300px;">
		Code Reviews can often take a lot of time. Create diagrams showing the context of any uncommitted changes. These diagrams can then help with updating documentation and provide code reviewers with a more complete view of the changes. <a href="{{site.baseurl}}/learn-more/ide-integration"><b>Learn more</b></a>
		</td>

	</tr>

	<tr><td colspan=2><br><br></td></tr>

	<tr> 		
		<td colspan=2 style="width: 300px;"> 
		<b>Documentation unclear or inaccessible?</b> 
		</td>
	</tr> 
 
	<tr> 	
		<td colspan=2 style="width: 300px;"> 
		<a href="{{site.baseurl}}/images/thumbnails/Shared2.jpg" style="margin-left:5px;" rel="prettyPhoto" title="Share, comment on, and interact with diagrams created by others."><img src="{{site.baseurl}}/images/thumbnails/Shared2.jpg" width="192" height="128"  border="1" /></a> 
</td> 
	</tr> 
 
 <tr  VALIGN=TOP style = "font-size: 80%">
		<td colspan=2 style="width: 300px;">
		<!--[if IE ]>
		<div style="width:300px; text-align:center; ">
		<![endif]-->
		<!--[if !IE]>-->
		<div style="width:300px; padding-left:150px; text-align:center; ">
		<!--<![endif]-->
		Share, comment on, and interact with diagrams created by others. Without a common place for developers to interact with documentation and eachother projects can become delayed with communication ovehead. Architexa provides developers with easy access to diagrams so concepts can be communicated efficiently.<a href="{{site.baseurl}}/learn-more/share"><b>Learn more</b></a>
		</div>
		</td>
		
	</tr>



</table> 
<br><br>
<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto();

		});
</script>

