---
title: Pricing Plan | Architexa
---
{% include side-menu-learn-more-beg.html %}



<style type="text/css">
<!--

.leftTop {
	float:left;
	width:290px;
}
.rightTop {
	float:right;
	width:280px;
	padding:3px;
	background-color:#F0F0F0;
}
.tick {
	list-style-image: url(/images/check.gif);
	padding: 0px 0px 0px 30px;
}

.short {
	position: relative;
}
.short .head {
	text-decoration: none;
}

.short .body {
	position: absolute;
	top: 15px;
	left: -15px;
	width: 250px;
	text-align: center;
	z-index: 2;
	padding: 10px;
	border: 1px solid #a0a0a0;
	background: #ffffff;
	display: none;
}

#body-contents li {
	margin-left:0px;
}

#body-contents h3 {
	font-variant: normal;
}

.mainPlan {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #edf8eb), color-stop(1, #9cda94) );
	background:-moz-linear-gradient( center top, #edf8eb 5%, #9cda94 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf8eb', endColorstr='#9cda94');

}

.enterprisePlan {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffefe0), color-stop(1, #ffb46a) );
	background:-moz-linear-gradient( center top, #ffefe0 5%, #ffb46a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefe0', endColorstr='#ffb46a');
}

.planBox {
	float:left;
	width:260px;
	/*background-color: whiteSmoke;*/
	border: 1px solid #CCC;
	padding: 10px;
	margin: 10px;
	border-radius: 6px;
}
.planBox ul {
	padding-left: 5px;
	padding-right: 5px;
}
.planBox ul li {
	border-top: 1px solid rgba(0,0,0,0.15);
	background-image: none;
	list-style-type: none;
}
.planBox ul li.first, .planBox ul li:first-child {
	border-top: 0px solid transparent;
}

.planName {
	font-size: 1.8em;
	font-weight:bold;
	font-style: italic;
	padding: 10px 10px 20px 0px;
	color:#cc6600;
}
.planText {
	padding: 10px;
}
.planInfo {
	text-align: center;
}


.finePrintDiv {
	border-top: 1px solid black;
	font-size: 0.8em;
	margin-top: 30px;
	padding-top: 10px;
}
.fineIcon {
	float:left;
	padding:13px;
	vertical-align:middle;
}
-->
.floatTab {
	float:right;
	
}
</style>

<h1 style="font-size:34px;">Start making sense of your code now!</h1>



<!--
<div class="planBox mainPlan">
	<div class="planInfo">
				<span class="planName">Individual Edition</span><br><br><span id="basicPrice" style="padding-right:10px; color:black; font-size: 1.2em;font-style:italic;">Free<sup>&dagger;</sup></span><br><br>
	</div>

	<ul>
		<li>Diagramming &amp; Collaboration Engine</li>
		<li>For up to 3 users</li>
		<li>Support via Forums</li>
		<li>&nbsp;</li>
	</ul>

	<div class="planInfo">
	<a class="mainButton" style="font-size:22px;color:white" href="http://www.architexa.com/learn-more/register/individual">
			Sign Up
			</a>
	</div>
</div>

<div class="planBox mainPlan">
	<div class="planInfo">
				<span class="planName">Team Edition</span><br><br><span id="basicPrice" style="padding-right:10px; color:black; font-size: 1.2em;font-style:italic;">$249/user/year<sup>&Dagger;</sup></span><br><br>
	</div>

	<ul>
		<li>Diagramming &amp; Collaboration Engine</li>
		<li>For 4 or more users</li>
		<li>Support via Forums &amp; Email </li>
		<li>&nbsp;</li>
	</ul>

	<div class="planInfo">	
		<a class="mainButton" style="font-size:22px;color:white" href="http://www.architexa.com/learn-more/register/team">
				Free Trial
				</a>
	</div>

</div>
-->

<div class="planBox mainPlan" style="width:564px">
	<div class="planInfo" style="float:left;width:260px">
		<span class="planName">Community Edition</span><br><br>
		<a class="mainButton" style="font-size:22px;color:white" href="http://www.architexa.com/learn-more/register/community">Free<sup>&dagger;</sup> - Sign Up</a>
		<br>
	</div>

	<ul style="padding-left:270px;padding-top:10px">
		<li>Diagramming &amp; Collaboration Engine</li>
		<li>Community Support via Forums</li>
		<li>Optimized for Individual Use</li>
		<li>&nbsp;</li>
	</ul>

</div>

<!--end planBox-->


<div class="planBox enterprisePlan" style="width:564px">
	<div class="planInfo" style="float:left;width: 260px;padding-top:20px">
		<span class="planName">Enterprise Edition</span><br><br>
		<a class="mainButton" style="font-size:22px;color:white" href="mailto:sales@architexa.com">Contact Us</a>
		<br>
	</div>

	<ul style="padding-left:270px">
		<li>Professional Support &amp; Training</li>
		<li>Architecture Assesment, Enforcement &amp; Process Integration</li>
		<li>Architecture Dashboard, Code Monitoring, Documentation Artifact Synchronization &amp; Other Custom Components</li>
	</ul>

</div><!--end planBox-->



<div style="float:left">

	<h3>All Editions Include</h3>
	<ul class="tick"> 
		<li class="short">Powerful Class, Sequence, and Layered Diagram Generation and Editing. </li> 
		<li class="short">Collaboration by Sharing Diagrams, Annotating, and Commenting.</li> 
		<li class="short">Sophisticated real-time code analysis.</li> 
	</ul>

			<!--<div style="margin-top:5px;font-size:0.85em">We are giving a <b>large</b> discount to the first few users who signup and send us feedback. <span style="color:red">Signup now to get $112 off (*).</span><br><br> (*) - discount valid before August 16th.</div>-->

	<h3>Support Packages</h3>
	<ul> 
		<li class="short"><i>Included:</i> Support via forums &amp; e-mail is provided. </li> 
		<li class="short"><i>Accelerators:</i> Customized webinars to get enterprises using Architexa effectively. </li> 
		<li class="short"><i>Expertise:</i> Our experience working on hundreds of projects emedded within your team. </li> 
		<li class="short"><i>Framework Plugins:</i> Architexa uses plugins to proivde adaptors for Spring DI, MVC, JAX-RS, Guice, and others. We can provide plugins for your in-house framework.</li> 
	</ul>

</div>



<div style="clear:both;"></div>

<div class="finePrintDiv">

<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/cost.png"/><p class="finePrint">&dagger; In exchange for getting you free licenses all we ask for is your feedback. We will be sending you surveys periodically, and we ask you to e-mail us with your thoughts.</p></div>

<!--
<div style="float:left;"><p class="finePrint">&Dagger; We can provide first three licenses for free, but we will need to talk to all of your users for a couple of minutes every so often so that we can make sure we are meeting your teams goals.</p></div>


<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/customers.png"/><p class="finePrint">Team Edition licenses include support for offline usage. Each paid license is renewable yearly, includes online support, and gives increased priority for bug fixes and feature requests. It can be cancelled at any time.</p></div>
<div style="clear:both;"></div>

<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/hire-me.png"/><p class="finePrint">Architexa licenses are assigned to a user. License usage is verified against the Architexa licensing server (at <a href="http://my.architexa.com">http://my.architexa.com</a>), and allows for offline/remote license access for Team Edition users. Concurrent licenses are available on request.</p></div>
<div style="clear:both;"></div>


<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/cost.png"/><p>We want to make sure that you like Architexa's suite, so we make sure to give all team edition users a <b>free 30 day trial account.</b></p></div>
<div style="clear:both;"></div>
-->

<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/database.png"/>
<p class="finePrint">Community Edition is optimized for work on Java projects of upto 150,000 lines of code. Have a larger team? Contact <a href="mailto:sales@architexa.com" target="_blank">us</a>.</p></div>
<div style="clear:both;"></div>

<div style="float:left;"><img class="fineIcon" src="{{site.baseurl}}/images/berlin/32x32/consulting.png"/><p class="finePrint">Need some features? Send us your <a href="mailto:feedback@architexa.com">feedback</a>. As we hear your needs, we will be adding capabilities to the suite - updates will be made 3-4 times per year.</p></div>
<div style="clear:both;"></div>

</div><!--end fineprint-->




{% include side-menu-footer.html %}
{% include footer.html %}

