---
title: Get Started with Architexa | Architexa
---
{% include side-menu-learn-more-beg.html %}

<h2 style="width:405px; text-align:left;"><a style="color:grey; font-weight:normal;" href="download">1. Download &nbsp;&nbsp;>>&nbsp; </a>2. Take a Tour</h2>
{% include quotes-inc.html %}
<div style="width:386px; margin-bottom:25px;">
<span style="font-size: 1.2em;font-weight: bold;">Videos</span>
<br>Want to learn more about our product? We have put together a few short 2-4 minute videos to give you a brief tour of the Architexa Suite.
<ul>
<li><a href="{{site.baseurl}}/learn-more/videos/intro">Introduction</a></li>
<li><a href="{{site.baseurl}}/learn-more/videos/layered-diagrams">Layered Diagrams</a></li>
<li><a href="{{site.baseurl}}/learn-more/videos/class-diagrams">Class Diagrams</a></li>
<li><a href="{{site.baseurl}}/learn-more/videos/sequence-diagrams">Sequence Diagrams</a></li>
</ul>
<br>

<span style="font-size: 1.2em;font-weight: bold;">Product Overview</span>
<br>Want some more details? Look at the information below to get an idea of which features will benifit you the most.
<ul>
<li><a href="{{site.baseurl}}/learn-more/understand">Understand Code</a>
 <ul>
	<li><a href="{{site.baseurl}}/learn-more/layered-diagrams"> Layered Diagrams</a></li>
	<li><a href="{{site.baseurl}}/learn-more/class-diagrams"> Class Diagrams</a></li>
	<li><a href="{{site.baseurl}}/learn-more/sequence-diagrams"> Sequence Diagrams</a></li>
 </ul>
</li>
<li><a href="{{site.baseurl}}/learn-more/share">Share Designs</a></li>
</ul>
</div>
