<div style="clear:both;"/>

</div>

</div>

<div style="background:#cccccc; color:#333333; padding-top:5px; padding-bottom:5px; padding-left:5px; border:1px solid #999999;">
	
	Make sense of your code now!
	<a href="/learn-more/download">
	<b>Get Started </b></a>
	</div>

<!-- FOOTER -->

<style type="text/css"> 
	#footer a:link {color: #999; text-decoration: none; }
	#footer a:active {color: #999; text-decoration: none; }
	#footer a:visited {color: #999; text-decoration: none; }
	#footer a:hover {color: #c60; text-decoration: strong; }	
</style>





<div style="padding:10px 0px; height:50px;">
<div style="float:left; font-size:smaller;">
Architexa is an i3labs project. Copyright &copy;2016 i3labs. All rights reserved.
<a href="{{site.baseurl}}/privacy">Privacy Policy</a> | 
<a href="{{site.baseurl}}/terms-of-service"> Terms of Use</a> 
</div>
<div valign="middle" style="float:right; vertical-align:middle;font-size:smaller;">
</div> 
</div>


</body>
</html>
