<div id="body-left">

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; border-bottom:1px dotted #ccc;">
<!--<![endif]-->


<ul style="list-style-type:none;padding-left:35px"><li>
	{% include side-menu.fn baseUri="/solutions/" tgtUri="" lbl="Overview" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="code-quality" lbl="Code Quality" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="distributed-teams" lbl="Distributed Teams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="architecture" lbl="Maintain Architecture" %}

</li></ul>
</div> <!-- end sub-menu -->

<!-- Tech Menu-->

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px;">
<!--<![endif]-->

<ul style="list-style-type:none;padding-left:35px">
<li>
	{% include side-menu.fn baseUri="/solutions/" tgtUri="challenge" lbl="The Challenge" %}
</li>

<li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="core" lbl="Core Technology" %}
</li>

</ul>
</div> <!-- end Tech menu -->


<!-- Services Menu-->
<div style="margin-top:15px;font-weight:bold">Services</div>
<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px;">
<!--<![endif]-->

<ul style="list-style-type:none;padding-left:35px">
<li>
	{% include side-menu.fn baseUri="/solutions/" tgtUri="services/index" lbl="Overview" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="services/setup" lbl="Setup and Training" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="services/mentoring-services" lbl="Mentoring Development Teams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="services/prototype-building" lbl="Prototype Building" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="services/custom-development" lbl="Custom Development" %}
</li>

</ul>
</div> <!-- end Services menu -->

<!--
<div style="margin-top:15px;font-weight:bold">Questions?</div>
<a href="/support">Architexa Support</a>
-->

</div> <!-- end float -->


{% include side-menu-header-start.html %}

