<div id="body-left">

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc;">
<!--<![endif]-->


<ul style="list-style-type:none;padding-left:35px"><li>
	{% include side-menu.fn baseUri="/support/" tgtUri="" lbl="Overview" %}
</li>


<li style="margin-top:10px">
	{% include side-menu.fn baseUri="/support/" tgtUri="faq" lbl="FAQ" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/support/" tgtUri="webinar" lbl="Webinar" %}
</li></ul>
</div> <!-- end sub-menu -->

<!-- Tech Menu-->

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px;">
<!--<![endif]-->

<ul style="list-style-type:none;padding-left:35px">
<li>
	{% include side-menu.fn baseUri="/solutions/services" tgtUri="index" lbl="Services" %}
</li>

</ul>
</div> <!-- end Tech menu -->


<!-- Videos -->
<div style="margin-top:15px;font-weight:bold">Videos</div>

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; margin-left: -40px">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top: 15px;">
<!--<![endif]-->

	<ul style="list-style-type:none;padding-left:35px">
	
		<li>
			{% include side-menu.fn baseUri="/support/videos/" tgtUri="intro/video" lbl="Introduction" %}
		</li>

		<li style="margin-top:10px">
			{% include side-menu.fn baseUri="/support/videos/" tgtUri="layered-diagrams/video" lbl="Layered Diagrams" %}
		</li>

		<li style="margin-top:10px">
			{% include side-menu.fn baseUri="/support/videos/" tgtUri="class-diagrams/video" lbl="Class Diagrams" %}
		</li>

		<li style="margin-top:10px">
			{% include side-menu.fn baseUri="/support/videos/" tgtUri="sequence-diagrams/video" lbl="Sequence Diagrams" %}
		</li>

		</ul>

</div> <!-- end sub-menu -->


</div> <!-- end float -->

{% include side-menu-header-start.html %}

