<div id="body-left">


<div style="margin-top:15px;font-weight:bold">Diagramming Features</div>
<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; border-bottom:1px dotted #ccc;">
<!--<![endif]-->
<ul style="list-style-type:none;padding-left:35px"><li>
	{% include side-menu.fn baseUri="/features/" tgtUri="" lbl="Overview" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="layered-diagrams" lbl="Layered Diagrams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="class-diagrams" lbl="Class Diagrams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="sequence-diagrams" lbl="Sequence Diagrams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="ide-integration" lbl="IDE Integration" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="share" lbl="Collaboration" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/features/" tgtUri="document" lbl="Documentation" %}
</li></ul>
</div> <!-- end sub-menu -->



<!-- Tech Menu-->
<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px;">
<!--<![endif]-->
<ul style="list-style-type:none;padding-left:35px">
<li>
	{% include side-menu.fn baseUri="/features/" tgtUri="download" lbl="Download" %}
</li>
</ul>
</div> <!-- end Tech menu -->




<!--
<div style="margin-top:15px;font-weight:bold">Questions?</div>
<a href="/support">Architexa Support</a>
-->

</div> <!-- end float -->


{% include side-menu-header-start.html %}


