<div id="body-left">


<div style="margin-top:15px;font-weight:bold">Teams</div>



<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; border-bottom:1px dotted #ccc;">
<!--<![endif]-->


<ul style="list-style-type:none;padding-left:35px"><li>
	{% include side-menu.fn baseUri="/solutions/" tgtUri="" lbl="Overview" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="code-quality" lbl="Code Quality" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="distributed-teams" lbl="Distributed Teams" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="architecture" lbl="Maintain Architecture" %}

</li></ul>
</div> <!-- end sub-menu -->

<div style="margin-top:15px;font-weight:bold">Individuals</div>


<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-bottom:20px; border-bottom:1px dotted #ccc; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px; border-bottom:1px dotted #ccc;">
<!--<![endif]-->
<ul style="list-style-type:none;padding-left:35px"><li>
	{% include side-menu.fn baseUri="/learn-more/" tgtUri="" lbl="Overview" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/learn-more/" tgtUri="understand" lbl="Understand Easily" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/learn-more/" tgtUri="maintain" lbl="Maintain Effectively" %}
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/learn-more/" tgtUri="knowledge-transfer" lbl="Quickly Document" %}
<!--
</li><li style="margin-top:10px">
	{% include side-menu.fn baseUri="/learn-more/" tgtUri="code-review" lbl="Code Review" %}
-->
</li></ul>
</div> <!-- end sub-menu -->


<!-- Tech Menu-->

<!--[if IE ]>
<div id="subMenuLeft2" style="margin-top:15px; padding-top:15px; margin-left: -40px;">
<![endif]-->
<!--[if !IE]>-->
<div id="subMenuLeft2" style="margin-top:15px;">
<!--<![endif]-->

<ul style="list-style-type:none;padding-left:35px">
<li>
	{% include side-menu.fn baseUri="/solutions/" tgtUri="challenge" lbl="The Challenge" %}
</li>

<li style="margin-top:10px">
	{% include side-menu.fn baseUri="/solutions/" tgtUri="core" lbl="Core Technology" %}
</li>

</ul>
</div> <!-- end Tech menu -->



<!--
<div style="margin-top:15px;font-weight:bold">Questions?</div>
<a href="/support">Architexa Support</a>
-->

</div> <!-- end float -->


{% include side-menu-header-start.html %}

